/*PRE-REQUISITES*/

@font-face
{
    font-family: Sign;
    src: url(/resources/global/GreatVibes-Regular.ttf);
}

*
{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

/*BODY*/

body
{
    background-color: #333333;
    display: grid;
    grid-template-rows: 20vh 80vh;
}


/*HEADER*/

head
{
    display: grid;
    justify-items: center;
    align-items: center;
}

#signature
{
    color: #333333;
    font-family: Sign;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 5vw;
    font-weight: normal;
    background-color: white;
    box-shadow: 0px -10px 48px 48px rgba(0,0,0,0.75);
}

/*MAIN*/

main
{
    display: grid;
    justify-items: center;
    align-items: center;
}

#folder-container
{
    width: 17vw;
    height: 60vh;
}

#folder-cover-top
{
    height: 60vh;
    background-color: red;
    width: 17vw;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    box-shadow: 16px 15px 64px 16px rgba(0,0,0,0.75);
    position: absolute;
    z-index: 2;
}

#folder-cover-bottom
{
    height: 60vh;
    background-color: #624a2e;
    width: 17vw;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    box-shadow: 16px 15px 64px 16px rgba(0,0,0,0.75);
    position: absolute;
    z-index: 3;
}
