/*PRE-REQUISITES*/

@font-face
{
    font-family: Sign;
    src: url(/resources/global/GreatVibes-Regular.ttf);
}

*
{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

/*BODY*/

body
{
    background-color: #333333;
    display: grid;
    grid-template-rows: 20vh 80vh;
}


/*HEADER*/

head
{
    display: grid;
    justify-items: center;
    align-items: center;
}

#signature
{
    color: #333333;
    font-family: Sign;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 5vw;
    font-weight: normal;
    background-color: white;
    box-shadow: 0px -10px 64px 48px rgba(0,0,0,0.75);
}

/*MAIN*/

main
{
    display: grid;
    justify-items: center;
    align-items: center;
}

#folder-body
{
    height: 70vh;
    background-color: white;
    width: 25vw;
    border-radius:0.25rem;
}
